<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Win7MF">
   <parameter name="ip" value="192.168.1.3"/>
<parameter name="browser" value="firefox"></parameter>
    <packages>
 <package name="script"></package>
 </packages>
  </test> <!-- Test -->
  <test thread-count="5" name="Win7GC">
   <parameter name="ip" value="192.168.1.3"/>
<parameter name="browser" value="chrome"></parameter>
    <packages>
 <package name="script"></package>
 </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
